[submodule "BridgeSDK"]
	path = BridgeSDK
	url = https://github.com/Sage-Bionetworks/Bridge-iOS-SDK.git
	branch = rk-compat
[submodule "ResearchKit"]
	path = ResearchKit
	url = https://github.com/ResearchKit/ResearchKit.git
[submodule "AppCore"]
	path = AppCore
	url = https://github.com/cornelltech/AppCore.git
